@model IEnumerable<WebResidencial.Models.Ubicacion>
@using WebResidencial.Enums
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUbicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoUbicacion.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUbicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoUbicacionNombre)
        </td>
        <td class="btn-group btn-group-toggle">
            @Html.ActionLink("Add User", "AddUser", new { id = item.IdUbicacion }) |
            @Html.ActionLink("Add Vehicle", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detail", "Detail", new { id = item.IdUbicacion }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdUbicacion })
        </td>
    </tr>
    }

</table>
 
 
<div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div id="modal-content">
                    Cargando..
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
    

@*<script>
$(document).ready(function(){
  $("#myBtn").click(function(){
    $("#myModal").modal();
  });
});
</script>*@

